@import "variables";

html {
	font-family: "Gotham Narrow A", "Gotham Narrow B", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);

	a {
		color: var(--text-color-secondary);
	}

	button {
		-webkit-appearance: none;
		border: none;
		padding: 1em 2em;
		border-radius: var(--border-radius);
		background: var(--background-color-alt);
		color: var(--background-color);
		cursor: pointer;
		transition: opacity 0.25s;

		&.secondary {
			background: none;
			color: var(--text-color);
		}

		&[disabled] {
			opacity: 0.25;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}
